<p>manageperson works!</p>
<input type="button" value="ثبت جدید" (click)="gotoinsertt()"/>
<br/><br/>
<hr>
<table>
  <thead>
    <th>شماره</th>
    <th>فامیلی</th>
    <th>سن</th>
    <th>حقوق</th>
  </thead>
</table>
<tbody>
<tr *ngFor="let e of list">
  <td>{{e.id}}</td>
  <td>{{e.employee_name}}</td>
  <td>{{e.employee_salary}}</td>
  <td>{{e.employee_age}}</td>

</tr>
</tbody>
