<html>
<head >
  <meta charset="utf-8" >

</head>
<body>
  <div>
    <input type="button" value="چت" (click)="gotochat()"/>
    <input type="button" value="مدیریت کاربران" (click)="gotomanageperson()"/>
    <br><br>
<hr/>
  </div>
  <br><br>
  <div >
    نام: <input type="text" id="fn" name="fn" [(ngModel)="employee.name"]> <br/>
    حقوق : <input type="text" id="ln" name="ln" [(ngModel)="employee.salary"]> <br/>
    سن : <input type="text" id="age" name="age" [(ngModel)="employee.age"]><br/>
    <input type="button" value="ثبت">
  </div>
</body>
</html>
